@model dynamic

    @{
        ViewBag.Title = "Reviews";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="columns">
        <div class="column">
            <section class="section">
                <h4 class="title is-4">Reviews</h4>
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">
                                    11 Jul 2018 |
                                    Norwegian Breakaway |
                                    Norwegian Cruise Line |
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            We sailed from New York to the Bahamas and back during the Christmas period. Firstly the check in went wrong as my son had been booked with drinks package but he is only 17.. this causes havoc!! And took an hour to sort out whilst we stood there. We went straight for lunch when first boarding to the garden cafe which was busy noisy and then to our staterooms. We had an amazing guy looking after our rooms.. so friendly and accommodating called Benedict. On booking we had been told we had free wifi which we then found out was limited which caused no end of problems between my children!! Sad I know but my husband needed wifi for work too. The Internet cafe didn't work out either. In the free dining restaurants the menus were all the same which was most disappointing as we are vegetarians and they only had one choice per night. We were well looked after though but served meat on the last night by accident. Christmas Day was really disappointing too there wasn't a roast potato in sight apart from garlic diced ones.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Jane Evans</p>
                                <p class="subtitle is-6">
                                    1 Apr 2018 |
                                    Norwegian Eclipse |
                                    Norwegian Cruise Line |
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            The ship was lovely lots going for it. Cabin nice also very clean ship. Bars and restaurants done out very nice and cosy. Downside to these type of ships they are getting to big and having to cue up for everything. Never cruised with NCL before, all they kept pushing is to gamble and spend more money on different things. Having spent a lot of money on getting all the extras like balcony, paying for granites upfront also drinks package which does not include water which I find hard except. Also having to pay extra in the other restaurants which were empty if they just included it with the price I think there would have not been so many cues all the time to eat.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Scott Thomson</p>
                                <p class="subtitle is-6">
                                    12 Mar 2018 |
                                    Ventura |
                                    P&amp;O |
                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            Not as good as expected - could do better! Ventura - canary Island cruise 29/10/17 Super cabin - deluxe balcony with lounge, excellent cabin steward Enjoyed the quality and variety of the food Lisbon and Madera were lovely, took the tram ride and toboggan ride at these - very good (if not cheap) Generally poor service on ship (especially Saffron restaurant), staff looked disengaged, senior staff conspicuous in their absence around the ship Poor timing of entertainment in the evenings, lack of interesting daytime entertainment on sea days. Never once saw the hand rails being cleaned or staff enforcing hand sanitising - very worrying. Looks like I'll be returning to Thomson/TUI or whatever they are now calling themselves, as my previous four cruises with them were excellent
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <nav class="pagination" role="navigation" aria-label="pagination">
                    <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
                    <a class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                        <li>
                            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
                        </li>
                        <li>
                            <a class="pagination-link" aria-label="Goto page 2">2</a>
                        </li>
                        <li>
                            <a class="pagination-link" aria-label="Goto page 3">3</a>
                        </li>
                    </ul>
                </nav>
            </section>

        </div>
    </div>